@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body {
    height: 100%;
    margin: 0;
}

#landing {
    min-height:100%;
    min-width:100%;
    display:flex;
    align-items:stretch;
    position:relative;
}

.logo-container {
  position: relative;
  width: 60%;
  margin: 20px auto;
}

.logo-centered {
  @include centerer;
  padding: 20px;
}

.footer-landing-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0px;
  text-align: center;
  color: #777777;
  font-size: 12px;
}
